<!DOCTYPE html>
<html>
    <body>
        <h1>QSE Ads Engine</h1>
        <form action="/" method="get">
            Your target url:<br/>
            <input type="text" name="url"><br/>
            Keywords (comma-separated without spaces, e.g. <i>friendly,honest,services</i>):<br/>
            <input type="text" name="keywords"><br/>
            Image URL of the ad that will be displayed:<br/>
            <input type="text" name="imgurl"><br/>
            <input type="submit" value="Submit QSE Ad">
        </form>
        <p>Note: on successful submission the advert will display below this form.</p>
        <p>Your ad will be displayed on the results page above the search results for queries matching your ad's keywords.</p>
    <body>
</html>
